{% extends "base.html" %}
{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'crud/css/crud.css' %}">
{% endblock %}

{% block extra_title %} | Admin | Create Category {% endblock %}

<!--Main form content-->
{% block content %}
    <div class="container crud-container">
        <div class="container crud-container m-5">
            <div class="card border-0 w-75 m-auto">
                <div class="card-header">
                <!--Card Title-->
                    <h3>Create Category Form</h3>
                <div class="card-body">
                    <!--For within the card body-->
                    <form method="POST">
    
                        {% csrf_token %}
    
                        {{ form.non_form_errors }}
    
                        {% for field in form %}
                            {{ field.errors }}
                            {{ field | as_crispy_field }}
                        {% endfor %}
                        <br>
                        <!--Buttons-->
                        <input type="submit" value="Save" class="btn btn-success">
                        <input type="button" class="btn btn-secondary" value="Cancel" onClick="javascript:history.go(-1);">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}