{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block extra_title %} | About Us {% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12 text-left">
                <h1>About Us</h1>
                <hr>
            </div>
            <div class="col-12 about-us-image"></div>
            <div class="col-12 text-left d-flex flex-column justify-content-center">
                <h2 class="w-75 ceo-quote">"At Explore we are all about exploring new ideas and possibilities.
                    Whether that be by reading about something you previously never considered
                    or simply waking up in the morning to the inspiration of your favourite
                    poster on the wall."
                </h2>
                <p class="text-center">-- Previous Explore CEO, (we fired him)</p>
            </div>
        </div>
        <div class="row famous-people">
            <div class="col-12 col-lg-6">
                <img src="/media/Mads_Mikkelsen_by_Gage_Skidmore.jpg" class="mads-mikkelson-image" alt="Picture of Mads Mikkelsen, Credit Gage Skidmore">
                <p class="text-muted small-text">
                    <a href="https://en.wikipedia.org/wiki/Mads_Mikkelsen#/media/File:Mads_Mikkelsen_by_Gage_Skidmore_2.jpg" target="_blank" rel="source">
                        Image Credit: Gage Skidmore
                    </a>
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mads-mikkelson-quote">
                    <div class="row">
                        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                            <div class="dialogue-icon"><i class="fa-solid fa-comment-dots"></i></div>
                            <h2 class="text-left">What famous people say about us</h2>
                            <hr class="w-25 mt-5"> 
                            <h4 class="pt-5">"Probably the best beer ... sorry book and poster and soon custom toaster website in the known world ... "</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}