{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="hero-section">
        <div class="hero-image">
            <div class="hero-text-container h-100 d-flex flex-column justify-content-center align-items-center">
                <div class=" row hero-text d-flex justify-content-center align-items-center">
                    <h1 class="hero-logo">EXPLORE.</h1>
                </div>
                <div class="row hero-subtext d-flex flex-column align-items-center">
                    <h2 class="subtext">...ideas, 
                        discover possibilities, 
                        peruse the impossible, 
                        experience the astonishing, 
                        rediscover a passion for the mysterious.
                    </h2>
                </div>
                <div class="row">
                    <a href="{% url 'books' %}" class="btn btn-lg btn-action">
                        Start Shopping
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
                <hr>
            </div>
        </div>
    </section>
{% endblock %}