{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="hero-section">
        <div class="hero-image">
            <div class="hero-text-container h-100 d-flex flex-column justify-content-center align-items-center">
                <div class=" row hero-text d-flex justify-content-center align-items-center">
                    <h1 class="hero-logo">EXPLORE.</h1>
                </div>
                <div class=" row hero-subtext">
                    <h2 class="subtext">...ideas, 
                        discover possibilities, 
                        define neural pathways, 
                        experience the astonishing, 
                        rediscover a passion for the mysterious.
                    </h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}