{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
    <section class="hero-section">
        <div class="hero-image">
            <div class="hero-text-container d-flex flex-column justify-content-center align-items-center">
                <div class=" row hero-text d-flex justify-content-center align-items-center">
                    <h1 class="hero-logo">EXPLORE.</h1>
                </div>
                <div class="row hero-subtext d-flex flex-column align-items-center">
                    <h4 class="subtext">Books and Posters</h4>
                    <h6><small class="hero-badge badge badge-info">Coming Soon: Custom Toasters!</small></h6>
                </div>
                <div class="row hero-buttons">
                    <div class="col-12 d-flex justify-content-center pb-2">
                        <a href="{% url 'books' %}" class="btn btn-lg btn-action">
                            Explore
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <div class="col-12 d-flex justify-content-center p-3">
                        {% if user.is_authenticated %}
                        <p><a class="btn btn-outline-light btn-sm" href="{% url 'about' %}">about us</a></p>
                        {% else %}
                            <p><a class="btn btn-outline-light btn-sm" href="{% url 'account_signup' %}">10% OFF</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="find-books">
        <div class="row find-books-row">
            <div class="col-4 col-md-4 col-lg-4 find-books-col">
                <div class="m-auto text-center">
                    <div>
                        <a href="https://www.goodreads.com/" target="_blank"><i class="fa-brands fa-goodreads"></i></a>
                    </div>
                </div>
                <div class="row text-center find-books-col-title"><a href="https://www.goodreads.com/" target="_blank"><h4>GOODREADS</h4></a></div>
            </div>
            <div class="col-4 col-md-4 col-lg-4 find-books-col">
                <div class="text-center m-auto">
                    <div>
                        <a href="https://en.wikipedia.org/wiki/Main_Page" target="_blank"><i class="fa-brands fa-wikipedia-w"></i></a>
                    </div>
                </div>
                <div class="row text-center find-books-col-title"><a href="https://en.wikipedia.org/wiki/Main_Page" target="_blank"><h4>WIKIPEDIA</h4></a></div>
            </div>
            <div class="col-4 col-md-4 col-lg-4 find-books-col">
                <div class="m-auto text-center">
                    <div class="text-center m-auto">
                        <a href="https://www.reddit.com/r/books/" target="_blank"><i class="fa-brands fa-reddit"></i></a>
                    </div>
                </div>
                <div class="row find-books-col-title"><a href="https://www.reddit.com/r/books/" target="_blank"><h4>REDDIT</h4></a></div>
            </div>
        </div>
    </section>
{% endblock %}