
/*=========================
    homepage
==========================*/
:root {
    --light-blue: #8ECAE6;
    --blue: #219EBC;
    --dark-blue: #023047;
    --yellow: #FFB703;
    --orange: #FB8500;
    --red: #d62828;
    --hero-txt-bg: rgba(148, 121, 135, 0)
}

.hero-section {
    display: flex;
    height: 84vh;
    width: 100%;
    padding-top: 10px;
    margin: 0;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.hero-image {
    background: url('/media/hero.jpg') no-repeat center center fixed;
    background-color: black;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.hero-logo {
    font-size: 6rem;
}

.hero-text-container {
    align-items: flex-start;
}

.hero-text {
    margin-top: 200px 200px 25px 200px;
    padding: 100px 200px 25px 200px;
    height: 200px;
    width: 100%;
    background-color: var(--hero-txt-bg);
    color: white;
}

.hero-buttons {
    padding-top: 50px;
}

.home-action-btn {
    margin: 10px;
    height: 100px;
}

.hero-subtext {
    color: white;
    background-color: var(--hero-txt-bg);
    height: auto;
    width: 100%;
    padding-top: 50px;
}

.subtext {
    text-align: center;
    font-size: 2rem;
    width: 50vw;
    margin: auto;
}

.hero-badge {
    background: var(--dark-blue);
    color: white;
}
/*
================ Find books section ==============
*/

.find-books {
    background-color: var(--yellow);
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    min-height: 100px;
    margin: 0;
}

.find-books-row {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 2rem 4rem 2rem 4rem;
}

.find-books-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.find-books-col-icon-row {
    width: 100%;
    margin: 0;
}

.find-books-col-title {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    padding: 2rem;
}

.find-books i {
    font-size: 5rem;
    color: var(--dark-blue);
}

.find-books a,
.find-books i {
    color: var(--dark-blue);
    transform: scale(1);
}

.find-books a:hover,
.find-books i:hover {
    transform: scale(1.05);
    transition: 200ms ease-in-out;
    color: var(--blue)
}

/*=========================
    About us page
==========================*/
.about-container {
    flex: 1 0 auto;
}

.about-us-image {
    background: url('/media/about-us.jpg') no-repeat center center fixed;
    background-color: black;
    background-size: cover;
    position: relative;
    width: 80%;
    height: 400px;
    padding: 0;
    margin: 0;
}

.ceo-quote {
    padding: 2rem 2rem 2rem 0
}

.famous-people {
    padding-top: 4rem;
    height: 80vh;
}

.famous-people a {
    text-decoration: none;
    color: white;
}

.famous-people a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: lightblue;
}

.dialogue-icon {
    font-size: 10rem;
}

.mads-mikkelson-image {
    height: 580px;
    width: 400px;
}

/*===================================
           Media Queries
===================================*/

@media screen and (max-width: 991px) {

    .hero-logo {
        font-size: 3rem;
        padding-top: 3rem;
    }

    .hero-text {
        padding: 0;
        margin: auto;
    }

    .hero-subtext {
        padding: 0;
    }

    .subtext {
        margin: auto;
    }

    .hero-badge {
        display: none;
    }
}

@media screen and (max-width: 991px) {

    .find-books i {
        font-size: 3rem;
        color: var(--dark-blue);
    }
}

@media screen and (max-width: 750px) {

    .find-books-row {
        padding: 0;
    }

    .find-books-col-title {
        padding: 0.2rem;
    }

    .find-books i {
        font-size: 2.5rem;
    }

    .find-books h4 {
        font-size: 0.8rem;
    }
}