<!--First Code based off of boutique ado-->
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title%}| Checkout{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="col"></div>
    </div>
{% endblock %}

{% block content %}
<section class="container checkout-container">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="mb-4">Checkout</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <h6> Order Summary <span class="badge badge-success">{{ product_count }}</span></h6>
            {% for product in basket_items %}
                {% if product.poster %}
                <div class="row">
                    <div class="col-3">
                        <br>
                        <img class="poster-thumbnail" src="{{ product.poster.image.url }}" alt="{{ product.poster.name  }}">
                        <br>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-5">
                        <br>
                        <p>{{ product.book.title }}</p>
                        <p> {{ product.material_size }}</p>
                        <p class="badge badge-info">{{ product.poster.genre.name }}</p>
                        <br>
                    </div>
                    <div class="col-3 p-3">
                        <br>
                        <p>Qty: {{ product.quantity }}</p>
                        <p> £{{ product.subtotal }}</p>
                        <br>
                    </div>
                </div>
                {% else %}
                    <div class="row">
                        <div class="col-3">
                            <br>
                            <img src="{{ product.book.thumbnail.url }}" alt="{{ product.book.title  }}">
                            <br>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-5 p-4">
                            <br>
                            <p>{{ product.book.title }}</p>
                            <p> {{ product.book.author }}</p>
                            <p class="badge badge-info">{{ product.book.genre.name }}</p>
                            <br>
                        </div>
                        <div class="col-3 p-4">
                            <br>
                            <p>Qty: {{ product.quantity }}</p>
                            <p> £{{ product.subtotal }}</p>
                            <br>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-12 text-right p-5">
                    <br>
                    <h6>Grand Total</h6>
                    <h6><strong>£{{ grand_total|floatformat:2  }}</strong></h6>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted">Please fill out the form below to complete your order</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset>
                    {% for field in order_form %}
                        {{ field.errors }}
                        {{ field | as_crispy_field }}
                    {% endfor %}
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>

                <div class="submit-button text-right mt-5 mb-2">                    
                    <a href="{% url 'basket' %}" class="btn btn-outline-light rounded-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Adjust Basket</span>
                    </a>
                    <button id="submit-button" class="btn btn-action rounded-0">
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                        <span class="font-weight-bold">Complete Order</span>
                    </button>
                    <p class="small text-danger my-0">
                        <br>
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </div>

            </form>
        </div>
    </div>   
</section>
{% endblock %}

{% block post_load_js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}