{% extends "base.html" %}
{% load static %}

{% block extra_title%}| My Basket{% endblock %}

{% block content %}
    <section class="basket-container">
        <div class="container">
            <div class="row basket-buttons">
                <div class="col-6 text-left">
                    <a href="{% url 'books' %}" class="btn btn-outline-light rounded-0 mt-5">
                        <i class="fas fa-chevron-left"></i>&nbsp;Keep Browsing
                    </a>
                </div>
                <div class="col-6 text-right">
                    <a href="{% url 'checkout' %}" class="btn btn-action rounded-0 mt-5">
                        <i class="fa-solid fa-lock"></i>&nbsp;Secure Checkout
                    </a>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-5">
                <h2>Your Basket</h2>
            </div>
            <hr>
            {% for item in basket_items %}
                {% if item.poster %}
                    <div class="row basket-table">            
                        <div class="col-12 col-lg-3 basket-image-container">
                            {% if item.poster.image %}
                                <img class="poster-thumbnail" src="{{ item.poster.image.url }}" alt="{{ item.poster.name }}">
                            {% else %}
                                <img class="poster-thumbnail" src="{{ MEDIA_URL }}poster-placeholder-thumbnail.jpg" alt="{{ item.poster.name }}">
                            {% endif %}
                        </div>
                        <div class="col-12 col-lg-3 basket-name-container">
                            <h4> {{ item.poster.name }}</h4>
                            <h6>{{ item.material_size }}</h6>
                            <p class="badge badge-info">{{ item.poster.genre.name }}</p>
                        </div>
                        <div class=" col-12 col-lg-3 basket-price-container">
                            <p>Quantity: {{ item.quantity }}</p>
                            <p>£{{ item.price }}</p>
                        </div>
                        <div class="col-12 col-lg-3 basket-subtotal-container">
                            Subtotal: £{{ item.subtotal }}
                            <a href="{% url 'remove_from_basket' item.poster.code item.material_size %}" class="btn btn-sm btn-outline-danger remove-item" id="remove_{{ item.code}}_{{item.material_size}}">
                                remove
                            </a>
                        </div>
                    </div>
                <hr>
                {% else %}
                    <div class="row basket-table">            
                        <div class="col-lg-3 basket-image-container">
                            {% if item.book.thumbnail %}
                                <img src="{{ item.book.thumbnail.url }}" alt="{{ item.book.title }}">
                            {% else %}
                                <img class="thumbnail-image" src="{{ MEDIA_URL }}book-placeholder-thumbnail.jpg" alt="{{ item.book.title }}">
                            {% endif %}
                        </div>
                        <div class="col-lg-3 basket-name-container">
                            <h4> {{ item.book.title }}</h4>
                            <p><strong> {{ item.book.author }}</strong></p>
                            <p class="badge badge-info">{{ item.book.genre.name }}</p>
                        </div>
                        <div class="col-lg-3 basket-price-container">
                            <p>Quantity: {{ item.quantity }}</p>
                            <p>£{{ item.book.price }}</p>
                        </div>
                        <div class="col-lg-3 basket-subtotal-container">
                            Subtotal: £{{ item.subtotal }}
                            <a href="{% url 'remove_from_basket' item.book.code 'nothing' %}" class="btn btn-sm btn-outline-danger remove-item" id="remove_{{ item.code}}">
                                remove
                            </a>
                        </div>
                    </div>
                    <hr>
                {% endif %}
            {% empty %}
                <div class="col-12 h-50 d-flex flex-column justify-content-center align-items-center p-5">
                    <div class="alert alert-info w-50 text-center" role="alert">
                        <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;Your Basket is currently empty!
                    </div>
                    <div>
                        <a href="{% url 'books' %}" class="btn btn-outline-dark rounded-0 mt-5">
                            <i class="fas fa-chevron-left"></i>&nbsp;Keep Browsing
                        </a>
                    </div>
                </div>
            {% endfor %}
            <hr class="total-hr">
            {% if product_count != 0 %}
                <div class="row">
                    <div class="col-lg-12 totals-row">
                        <h5>Basket Total: £{{ total|floatformat:2}} </h5>
                        {% if first_order == True %}
                            <p class="badge badge-success">-£{{ ten_percent|floatformat:2 }} first order bonus!</p>
                            <p>New Basket Total: £{{ total_ten_percent|floatformat:2}} </p>
                        {% endif %}
                        {% if delivery == 0 %}
                            <p><small>Delivery:</small>&nbsp;<span class="badge badge-success">£{{ delivery|floatformat:2 }}</span></p>
                        {% else %}
                            <p><small>Delivery:</small>&nbsp;<span class="badge badge-warning">£{{ delivery|floatformat:2 }}</span></p>
                        {% endif %}
                        {% if free_delivery_delta > 0 %}
                            <p><small class="text-danger"> £{{ free_delivery_delta }} more for free delivery!</small></p>
                        {% endif %}
                        <h4><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                        <div class="row basket-buttons">
                            <div class="col-6 text-left">
                                <a href="{% url 'books' %}" class="btn btn-outline-light rounded-0 mt-5">
                                    <i class="fas fa-chevron-left"></i>&nbsp;Keep Browsing
                                </a>
                            </div>
                            <div class="col-6 text-right">
                                <a href="{% url 'checkout' %}" class="btn btn-action rounded-0 mt-5">
                                    <i class="fa-solid fa-lock"></i>&nbsp;Secure Checkout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block post_load_js %}
    <script type="text/javasript">
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var materialSize = $(this).attr('id').split('remove_')[2];
            var url = `/basket/remove/${itemId}/${materialSize}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_material_size': materialSize}
        })
    </script>
{% endblock %}