hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: black;
    height: 1px;
  }

.btn-action {
    background-color: orange;
    color: white;
}

/*=========================
    homepage
==========================*/

.hero-image {
    background: url('/media/hero.jpg') no-repeat center center fixed;
    background-size: cover;
}

.hero-section {
    display: block;
    height: 70vh;
    width: 100%;
}

/*===================================
products book & book detail page
===================================*/
.product-row {
    margin-top: 50px;
}

.book-card-image {
    height:450px;
    width: 300px;
}

.card-title {
    height: 50px;
}

/*===================================
basket
===================================*/

.basket-row {
    height: 200px;
}