:root {
    --light-blue: #8ECAE6;
    --blue: #219EBC;
    --dark-blue: #023047;
    --yellow: #FFB703;
    --orange: #FB8500;
    --red: #d62828;
    --hero-txt-bg: rgba(148, 121, 135, 0)
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;               
    background-color: white;
    height: 1px;
}

.btn-action {
    background-color: var(--orange);
    color: white;
}

.top-banner {
    display: flex;
    height: 40px;
    width:100%;
    background: var(--dark-blue);
    margin: 0;
    padding: 0;
    text-align: right;
    align-items: center;
    padding-right: 10px;
}

.subscribe-banner {
    text-align: left;
    padding-left: 10px;
}

.navbar {
    background-color: black;
}

.navbar ul {
    align-items: center;
}

.navbar i {
    font-size: 1.25rem;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-link {
    padding: 0;
    margin: 0.5rem 0 0 0.5rem
}

.nav-link:hover {
    color: var(--orange);
}

.dropdown-item {
    color: var(--dark-blue) !important;
}

.dropdown-item:hover {
    color: var(--orange)!important;
    background: var (--dark-blue);
}

.hidden {
    display: none;
}

.thumbnail-image {
    width: 101px;
    height: 162px;
}

.small-text {
    font-size: 0.75rem;
}

/* page toggle buttons */
.page-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.page-toggle div {
    border-radius: 20px;
    margin: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
}

.page-toggle div.active:hover {
    background-color: var(--orange);
    color: var(--orange);
    transform: scale(1.03);
    transition: 200ms ease-in-out;
}

.page-toggle div.active,
.page-toggle div.active > a {
    background: var(--orange);
    color: white;
}

/* custom-link code learned from Kevin Powell on Youtube */
.custom-link,
.custom-link:hover {
    text-decoration: none;
    position: relative;
    color: white;
}

.custom-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--orange);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.custom-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.message-container {
    position: absolute;
    z-index: 999;
    margin-top: 100px;
    width: 50%;
    right: 25%;
}

.badge-info {
    background: var(--dark-blue);
    color: var(--yellow);
}

.badge-light {
    background: var(--yellow);
    color: var(--dark-blue);
}

.btn-outline-primary:hover {
    background: white;
    color: var(--dark-blue);
    border-color: var(--dark-blue);
}

.btn-outline-primary {
    background: var(--dark-blue);
    color: white;
    border-color: var(--dark-blue);
}

footer {
    width: 100%;
    background-color: var(--dark-blue);
    flex-shrink: 0;
}

.hidden {
    display: none;
}

/*===================================
basket
===================================*/
.basket-container {
    flex: 1 0 auto;
}

.basket-table {
    height: 200px;
    width: 100%;
}

.totals-row {
    height: 300px;
}

.poster-thumbnail {
    height: 126px;
    width: 126px;
}

/*===================================
basket sidenav - Code W3Schools
===================================*/
.sidenav {
    width: 300px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow: hidden;
    padding-top: 20px;
    margin-top: 100px;
  }