/*===================================
products & product detail pages
===================================*/
:root {
    --light-blue: #8ECAE6;
    --blue: #219EBC;
    --dark-blue: #023047;
    --yellow: #FFB703;
    --orange: #FB8500;
    --red: #d62828;
    --hero-txt-bg: rgba(148, 121, 135, 0)
}

.product-detail-section {
    height: auto;
    flex: 1 0 auto;
}

.product-row {
    margin-top: 50px;
}

.product-card {
    width: 380px;
    background: black;
    align-items: center;
    padding-top: 2rem;
}

.book-card-image {
    height:300px;
    width: 200px;
}

.poster-card-image {
    height:300px;
    width: 250px;
}

.card-title {
    height: fit-content;
    text-align: center;
}

.card-body {
    text-align: center;
}

.book-image {
    max-width: 350px;
    max-height: 500px;
    margin-right: 50px;
}

.fa-heart-circle-check {
    color: red;
}

.poster-image {
    height: 450px;
    width: 400px;
    margin-right: 50px;
}

.bought-together {
    height: auto;
    flex: 1 0 auto;
    margin-bottom: 120px;
    margin-top: 50px;
}

.explore {
    width: 100%;
    height: 100%;
}

.explore-box {
    height: 100%;
    width: 33%;
}

/*===================================
           Media Queries
===================================*/

@media screen and (max-width: 991px) {

    .product-detail-section div,
    .product-detail-section p,
    .product-detail-section h2,
    .product-detail-section h4,
    .product-detail-section h5,
    .product-detail-section h6 {
        display: flex;
    }

    .product-detail-section,
    .product-detail-section div,
    .product-detail-section p,
    .product-detail-section h2,
    .product-detail-section h4,
    .product-detail-section h5,
    .product-detail-section h6 {
        justify-content: center;
    }

    .product-row,
    .product-details {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .book-image {
        margin: 0;
    }

    .poster-image {
        height: 300px;
        width: 250px;
        margin: 0;
    }

    .product-card {
        width: 250px;
    }
}