/*===================================
products & product detail pages
===================================*/
:root {
    --light-blue: #8ECAE6;
    --blue: #219EBC;
    --dark-blue: #023047;
    --yellow: #FFB703;
    --orange: #FB8500;
    --red: #d62828;
    --hero-txt-bg: rgba(148, 121, 135, 0)
}

.product-detail-section {
    height: auto;
    flex: 1 0 auto;
}

.product-row {
    margin-top: 50px;
    padding-bottom: 4rem;
}

.product-card {
    width: 100%;
    background: black;
    align-items: center;
    padding-top: 2rem;
}

.book-card-image {
    height:300px;
    width: 200px;
}

.poster-card-image {
    height:300px;
    width: 250px;
}

.card-title {
    height: fit-content;
    text-align: center;
}

.card-body {
    text-align: center;
}

.book-image {
    max-width: 350px;
    max-height: 500px;
    margin-right: 50px;
}

.fa-heart-circle-check {
    color: red;
}

.poster-image {
    height: 450px;
    width: 400px;
    margin-right: 50px;
}

.poster-image-container {
    margin: auto;
    padding-bottom: 4rem;
}

.book-image-container {
    margin: auto;
    padding-bottom: 6rem;
}

.bought-together {
    height: auto;
    flex: 1 0 auto;
    margin-bottom: 120px;
    margin-top: 50px;
}

.explore {
    width: 100%;
    height: 100%;
}

.explore-box {
    height: 100%;
    width: 33%;
}

.form-row {
    width: 50%;
    padding: 2rem 2rem 2rem 0;
}
/*===================================
           Media Queries
===================================*/

@media screen and (max-width: 991px) {

    .book-image-container {
        margin: auto;
        padding-bottom: 3rem;
    }

    .book-image {
        margin: 0;
    }

    .poster-image {
        height: 300px;
        width: 250px;
        margin: 0;
    }

    .product-card {
        width: 250px;
    }
}

@media screen and (max-width: 767px) {

    .product-details {
        margin: auto;
    }

    .product-card {
        margin: auto;
    }
}