{% extends 'profile/profile-base.html' %}
{% load static %}

{% block extra_title %}
    | Order History
{% endblock %}


{% block history_active %}active{% endblock %}

{% block order_content %}
    <div class="col-12 col-lg-8 d-flex justify-content-center m-auto">
        <div class="m-auto">
            <div class="small-screen-alert-container">
                {% if not alert %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <p>For better visibility on small screens switch to landscape!</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="table-container">
                <table class="table table-responsive .table-sm text-light m-auto">
                    <thead>
                        {% if alert %}
                            <tr>
                                <th><span class="badge badge-light mb-3">Order #</span></th>
                                <th class="hide"><span class="badge badge-light mb-3">Order Date</span></th>
                                <th class="hide"><span class="badge badge-light mb-3">Grand Total</span></th>
                                <th></th>
                            </tr>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td><span class="badge badge-info mb-3">{{ order.order_number }}</span></td>
                            <td class="hide"><span class="badge badge-info mb-3">{{ order.date }}</span></td>
                            <td class="hide"><span class="badge badge-info mb-3">£{{ order.grand_total }}</span></td>
                            <td><a href="{% url 'order_history_detail' order.order_number %}" class="btn btn-sm btn-action">Detail</a></td>
                        </tr>
                        {% empty %}
                            <div class="m-auto alert alert-info">There are currently no orders in your order history.</div>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}