{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block extra_title %}
    | {{user}}'s Profile
{% endblock %}

{% block content %}
    <section class="container profile-container mb-5">
        <div class="row d-flex flex-column m-5">
            <div class="row page-toggle">
                <div class="col-6 col-lg-3 text-center {% block address_active %}{% endblock %}">
                    <a class="custom-link" href="{% url 'profile' %}">
                        Profile
                    </a>
                </div>
                <div class="col-6 col-lg-3 text-center {% block history_active %}{% endblock %}">
                    <a class="custom-link" href="{% url 'order_history' %}">
                        Orders
                    </a>
                </div>
                <div class="col-6 col-lg-3 text-center {% block wishlist_active %}{% endblock %}">
                    <a class="custom-link" href="{% url 'wishlist'  %}">
                        My Wishlist
                    </a>
                </div>
            </div>
        </div>
        {% block address_content %}
        {% endblock %}
        {% block order_content %}
        {% endblock %}
        {% block wishlist_content %}
        {% endblock %}
    </section>
{% endblock %}