{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/allauth.css' %}">
{% endblock %}

{% block extra_title %}
    | 403 Unauthorised User
{% endblock %}

{% block content %}
    <section class="allauth-container">
        <div class="allauth-form-row">
            <div class="allauth-form-col">
                <div class="m-auto">
                    <h1>You Do Not Have Permission to View This Page</h1>
                    <p>You are not authorised to access the page you searched for</p>
                    <p>Please Sign In with an authorised account or return home with the links below</p>
                    <a href="{% url 'account_login' %}" class="btn btn-action">Sign In</a>
                    <a href="{% url 'home' %}" class="btn btn-outline-light">Home</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}