<div class="sidenav collapse" id="basket-sidenav">
    <div class="row text-center d-flex justify-content-center">
        <hr>
        <div class="col-6 text-center">
            <a href="{% url 'basket' %}" class="btn btn-sm btn-action">To Basket</a>
        </div>
        <div class="col-6">
            <button class="btn btn-sm btn-outline-light" type="button" data-toggle="collapse" data-target="#basket-sidenav" aria-expanded="false" aria-controls="basket-sidenav">
                Close
            </button>
        </div>
        <hr>
        {% if product_count != 0 %}
            <h6>CONTENTS&nbsp;<span class="badge badge-primary">{{ product_count }}</span></h6>
        {% else %}
            <h6><span class="badge badge-warning">&nbsp;empty!</span></h6>
        {% endif %}
    </div>
    {% for product in basket_items %}
        {% if product.poster %}
        <div class="row m-2">
            <div class="col-6">
                <img class="thumbnail-image" src="{{ product.poster.image.url }}" alt="{{ product.poster.name }}">
            </div>
            <div class="col-6">
                <p><small class="small-text">{{ product.poster.name }}</small></p>
                <p><small class="small-text">Spec: {{ product.material_size }}</small></p>
                <p><small class="small-text">Qty:&nbsp;{{ product.quantity }}</small></p>
                <p><small class="small-text">£{{ product.subtotal|floatformat:2 }}</small></p>
            </div>
        </div>
        {% else %}
            <div class="row m-2">
                <div class="col-6">
                    <img class="thumbnail-image" src="{{ product.book.thumbnail.url }}" alt="{{ product.book.title }}">
                </div>
                <div class="col-6">
                    <p><small class="small-text">{{ product.book.title }}</small></p>
                    <p><small class="small-text">Qty:&nbsp;{{ product.quantity }}</small></p>
                    <p><small class="small-text">£{{ product.subtotal|floatformat:2 }}</small></p>
                </div>
            </div>
        {% endif %}
    {% empty %}
        <div class="row text-center d-flex justify-content-center">
            <h6>Your Basket is currently empty.</h6>
        </div>
    {% endfor %}
    <hr>
    {%if product_count != 0 %}
        <div class="row text-center">
            <p class="col-12"><small class="small-text">TOTAL: £{{ total|floatformat:2 }}</small></p>
            {% if free_delivery_delta > 0 %}
                <p class="col-12"><small class="small-text badge badge-warning">£{{ free_delivery_delta|floatformat:2 }} more for free delivery!</small></p>
            {% else %}
                <p class="col-12"><small class="small-text badge badge-primary">You qualify for free delivery!</small></p>
            {% endif %}
            {% if first_order == True %}
                <p class="col-12"><small class="small-text badge badge-success">You qualify for 10% extra off!</small></p>
            {% endif %}
        </div>
        <hr>
        <div class="row text-center d-flex justify-content-center">
            <div class="col-6 text-center">
                <a href="{% url 'basket' %}" class="btn btn-sm btn-action">To Basket</a>
            </div>
            <div class="col-6">
                <button class="btn btn-sm btn-outline-light" type="button" data-toggle="collapse" data-target="#basket-sidenav" aria-expanded="false" aria-controls="basket-sidenav">
                    Close
                </button>
            </div>
        </div>
        <hr>
    {% endif %}
</div>