<div class="row mobile-nav">
    <div class="col-4 pt-1">
        <a class="nav-link custom-link" href="{% url 'books' %}">
                <div class="text-center">
                    <div><i class="fa-solid fa-book"></i></div>
                    <p>&nbsp;Products</p>
                </div>
            </a>
    </div>
    <div class="col-4 pt-1">
        <a class="nav-link custom-link" {% if user.is_authenticated %}href="{% url 'profile' %}"{% else %}href="{% url 'account_login' %}"{% endif %}>
            <div class="text-center">
              {% if user.is_authenticated %}
                <div class="text-center"><i class="fa-brands fa-product-hunt"></i></div>
                <p>&nbsp;Profile</p>
              {% else %}
                <i class="fa-solid fa-door-open"></i>
                <p>&nbsp;Login</p>
              {% endif %}
            </div></a>
    </div>
    <div class="col-4">
        <a class="nav-link custom-link" data-toggle="collapse" href="#basket-sidenav" role="button" aria-expanded="false" aria-controls="basket-sidenav">
            <div class="text-center">
                <i class="fa-solid fa-cart-shopping"></i>
                {% if product_count != 0 %}
                    <span class="badge badge-primary">{{ product_count }}</span>
                {% endif %}
                <p>
                    {% if grand_total %}
                      £{{ grand_total|floatformat:2 }}&nbsp;<i class="fa-solid fa-sort-down"></i>
                    {% else %}
                      £0.00&nbsp;<i class="fa-solid fa-sort-down"></i>
                    {% endif %}
                </p>
            </div>
        </a>
    </div>
</div>