<div class="row top-banner">
    <div class="col-6 subscribe-banner">
        {% if user.is_authenticated %}
            {% include 'includes/subscribe-form.html' %}
        {% else %}
            <a href="{% url 'account_signup' %}" class="btn btn-sm btn-action">Create Account</a>
            GET 10% OFF YOUR FIRST ORDER!
        {% endif %}
    </div>
    <div class="col-6"><i class="fa-solid fa-gift prezzie"></i>&nbsp;&nbsp;<strong class="highlight">FREE DELIVERY&nbsp;</strong>ON ORDERS OVER <strong class="highlight">£50</strong></div>
</div>