{% extends "base.html" %}
{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'crud/css/crud.css' %}">
{% endblock %}

{% block extra_title %} | Admin | Manage Products {% endblock %}

{% block content %}
    <section class="container crud-container">
        <h2 class="text-light p-5">Manage Products</h2>
        <div class="row p-5">
            <a href="{% url 'create_book' %}" class="btn btn-outline-primary m-2">create book</a>
            <br>
            <a href="{% url 'create_poster' %}" class="btn btn-outline-primary m-2">create poster</a>
            <br>
            <a href="{% url 'create_category' %}" class="btn btn-outline-primary m-2">create category</a>
            <br>
            <a href="{% url 'create_genre' %}" class="btn btn-outline-primary m-2">create genre</a>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <table class="table text-light">
                    <thead>
                        <tr>
                            <th><strong>BOOK</strong></th>
                            <th><strong>UPDATE</strong></th>
                            <th><strong>DELETE</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                        <tr>
                            <td>{{ book.title }}</td>
                            <td><a href="{% url 'update_book' book.id %}" class="btn btn-sm btn-outline-success">Update</a></td>
                            <td><a href="{% url 'delete_book' book.id %}" class="btn btn-sm btn-outline-danger">Delete</a></td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-lg-8">
                <table class="table text-light">
                    <thead>
                        <tr>
                            <th><strong>POSTER</strong></th>
                            <th><strong>UPDATE</strong></th>
                            <th><strong>DELETE</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for poster in posters %}
                        <tr>
                            <td>{{ poster.name }}</td>
                            <td><a href="{% url 'update_poster' poster.id %}" class="btn btn-sm btn-outline-success">Update</a></td>
                            <td><a href="{% url 'delete_poster' poster.id %}" class="btn btn-sm btn-outline-danger">Delete</a></td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-lg-8">
                <table class="table text-light">
                    <thead>
                        <tr>
                            <th><strong>CATEGORY</strong></th>
                            <th><strong>UPDATE</strong></th>
                            <th><strong>DELETE</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td><a href="{% url 'update_category' category.id %}" class="btn btn-sm btn-outline-success">Update</a></td>
                            <td><a href="{% url 'delete_category' category.id %}" class="btn btn-sm btn-outline-danger">Delete</a></td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-lg-8">
                <table class="table text-light">
                    <thead>
                        <tr>
                            <th><strong>GENRE</strong></th>
                            <th><strong>UPDATE</strong></th>
                            <th><strong>DELETE</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for genre in genres %}
                        <tr>
                            <td>{{ genre.name }}</td>
                            <td><a href="{% url 'update_genre' genre.id %}" class="btn btn-sm btn-outline-success">Update</a></td>
                            <td><a href="{% url 'delete_genre' genre.id %}" class="btn btn-sm btn-outline-danger">Delete</a></td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}