{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title%}| {{ book.title }} {% endblock %}

{% block content %}
    <section class="container product-detail-section">
        <div class="row product-row d-flex">
            {% if book.image %}
                <div class="m-auto">
                    <a href="{% url 'book_detail' book.id %}">
                        <img src="{{ book.image.url }}" class="card-img-top book-image" alt="{{ book.title }}">
                    </a>
                </div>
            {% else %}
                <div class="m-auto">
                    <a href="{% url 'book_detail' book.id %}">
                        <img src="media/book-placeholder-image.jpg" class="card-img-top book-card-image" alt="{{ book.title }}">
                    </a>
                </div>
            {% endif %}
            <div class="col-lg-7 product-details">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <div class="p-3">
                            <a href="{% url 'update_book' book.id %}" class="btn btn-sm btn-outline-success m-2">Admin: Update</a>
                            <a href="{% url 'manage_products' %}" class="btn btn-sm btn-outline-danger m-2">Admin: Delete</a>
                        </div>
                    {% endif %}
                {% endif %}
                <h2 class="mb-3">
                    {% if user.is_authenticated %}
                        {% if wishlist %}
                            <i class="fa-solid fa-heart-circle-check"></i>
                        {% endif %}
                    {% endif %}
                    {{ book.title }}
                </h2>
                <h4 class="mb-3">{{ book.author }}</h4>
                <div>
                    <p class="badge badge-info mb-3">{{ book.genre.name }}</p>
                </div>
                <h6 class="mb-3"> {{ book.subtitle }} </h6>
                <p> {{ book.description }}</p>
                <div>
                    <p><strong class="badge badge-light">{{ book.rating }}&nbsp;<i class="fa-solid fa-star"></i></strong></p>
                </div>
                <p><strong>£{{ book.price }}</strong></p>
                {% if user.is_authenticated %}
                    {% if wishlist %}
                        <div class="p-2">
                            <a href="{% url 'edit_book_wishlist' book.id %}" class="btn btn-sm btn-outline-warning">Remove From Wishlist</a>
                        </div>
                    {% else %}
                        <div class="p-2">
                            <a href="{% url 'edit_book_wishlist' book.id %}" class="btn btn-sm btn-info">Add To Wishlist</a>
                        </div>
                    {% endif %}
                {% else %}
                    <div>
                        <a href="{% url 'account_login' %}" class="btn btn-sm btn-info">Wishlist</a><br>
                        <small class="badge badge-info">login to use the wishlist!</small>
                    </div>
                {% endif %}
                {% include 'products/includes/add-book-to-basket.html' %}
            </div>
        </div>
    </section>
    <!--You might also like... section-->
    <section class="bought-together">
        <hr>
        <div class="row text-center d-flex justify-content-center align-items-center">
            <h4>You might also like ... </h4>
        </div>
        <hr>
        <div class="container explore d-flex justify-content-center">
            <div class="row">
                {% for book in recommend|slice:3 %}
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="card product-card border-0 mt-2">
                        <div>
                            {% if book.image %}
                                <a href="{% url 'book_detail' book.id %}">
                                    <img src="{{ book.image.url }}" class="card-img-top book-card-image" alt="{{ book.title }}">
                                </a>
                            {% else %}
                                <a href="{% url 'book_detail' book.id %}">
                                    <img src="media/book-placeholder-image.jpg" class="card-img-top book-card-image" alt="{{ book.title }}">
                                </a>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="badge badge-info"> {{ book.genre.name }} </p>
                            <h6>{{ book.author }}</h6>
                            <p><strong>£{{ book.price }}</strong></p>
                            <a href="{% url 'book_detail' book.id %}" class="btn btn-outline-primary">View</a>
                            {% if user.is_authenticated %}
                                {% if user.is_superuser %}
                                    <a href="{% url 'update_book' book.id %}" class="btn btn-sm btn-outline-success">Admin: Update</a>
                                    <a href="{% url 'manage_products' %}" class="btn btn-sm btn-outline-danger">Admin: Delete</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}