{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="container book-detail-section">
        <div class="row product-row d-flex">
            <div class="col-lg-5">
                <img src="{{ book.image.url }}" class="book-image">
            </div>
            <div class="col-lg-7 product-details">
                <h2 class="mb-3">{{ book.title }}</h2>
                <h4 class="mb-3">{{ book.author }}</h4>
                <h4 class="badge badge-info mb-3">{{ book.genre.name }}</h4>
                <h6 class="mb-3"> {{ book.subtitle }} </h6>
                <p> {{ book.description }}</p>
                <p> {{ book.rating }} </p>
                <p><strong>£{{ book.price }}</strong></p>
                {% include 'products/includes/add-to-basket.html' %}
            </div>
        </div>
    </section>
{% endblock %}