{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title%} {{ poster.name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row product-info-row d-flex flex-column m-5">
            <div class="row page-toggle">
                <div class="col-6 col-lg-3 text-center{% block books-active %}{% endblock %}">
                    <a class="custom-link" href="{% url 'books'  %}">
                        Books
                    </a>
                </div>
                <div class="col-6 col-lg-3 text-center{% block posters-active %} active{% endblock %}">
                    <a class="custom-link" href="{% url 'posters'  %}">
                        Posters
                    </a>
                </div>
            </div>
            <div class="pb-3">
                <form method="GET" action="{% url 'posters' %}">
                    <div class="input-group">
                        <input class="form-control" type="text" name="search" placeholder="Search Posters">
                        <div class="input-group-append">
                            <button class="form-control btn btn-action" id="search" type="submit"><i class="fas fa-search"></i>&nbsp;Search</button>
                        </div>
                    </div>
                </form>
            </div>
            {% if search %}
                <div class="text-center pb-3">
                    <p><small class="badge badge-info">Search Term:</small>&nbsp;"{{ search }}"</p>
                    <a href="{% url 'posters' %}" class="btn btn-sm btn-outline-light">Clear Search Results</a>
                </div>
            {% else %}
            {% endif %}
            <div>
                {% for genre in genres %}
                   <h6><small class="badge badge-light">{{ posters|length }}&nbsp;posters available in genre:</small>&nbsp;<strong class="badge badge-info">{{ genre }}</strong></h6>
                {% endfor %}
            <div>
               <small class="badge badge-light">Genres available:</small>
               {% for genre in all_genres %}
                  <a href="{% url 'posters' %}?genre={{genre}}" class="btn btn-outline-primary m-2"><strong>{{ genre }}</strong></a>
               {% endfor %}
               <hr class="bg-light">
            </div>
         </div>
        <div class="row product-row">
                {% for poster in posters %}
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="card product-card border-0 mt-2">
                        {% if poster.image %}
                            <a href="{% url 'poster_detail' poster.id %}">
                                <img src="{{ poster.image.url }}" class="card-img-top poster-card-image" alt="{{ poster.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'poster_detail' poster.id %}">
                                <img src="media/poster-placeholder-image.jpg" class="card-img-top book-card-image" alt="{{ poster.name }}">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ poster.name }}</h5>
                            <p class="badge badge-info"> {{ poster.genre.name }} </p>
                            <p><strong>Starting @ £{{ poster.price }}</strong></p>
                            <a href="{% url 'poster_detail' poster.id %}" class="btn btn-outline-primary">View</a>
                            {% if user.is_authenticated %}
                                {% if user.is_superuser %}
                                    <a href="{% url 'update_poster' poster.id %}" class="btn btn-sm btn-outline-success">Admin: Update</a>
                                    <a href="{% url 'manage_products' %}" class="btn btn-sm btn-outline-danger">Admin: Delete</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}