{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title%}| Posters{% endblock %}

{% block content %}
    <section class="container product-detail-section">
        <div class="row product-row d-flex">
            {% if poster.image %}
                <div class="m-auto">
                    <a href="{% url 'poster_detail' poster.id %}">
                        <img src="{{ poster.image.url }}" class="card-img-top poster-image" alt="{{ poster.name }}">
                    </a>
                </div>
            {% else %}
                <a href="{% url 'poster_detail' poster.id %}">
                    <img src="/media/poster-placeholder-image.jpg" class="card-img-top book-card-image" alt="{{ poster.name }}">
                </a>
            {% endif %}
            <div class="col-lg-7 product-details">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <div class="p-3">
                            <a href="{% url 'update_poster' poster.id %}" class="btn btn-sm btn-outline-success m-2">Admin: Update</a>
                            <a href="{% url 'manage_products' %}" class="btn btn-sm btn-outline-danger m-2">Admin: Delete</a>
                        </div>
                    {% endif %}
                {% endif %}
                <h2 class="mb-3">
                    {% if user.is_authenticated %}
                        {% if wishlist %}
                            <i class="fa-solid fa-heart-circle-check"></i>
                        {% endif %}
                    {% endif %}
                    {{ poster.name}}
                </h2>
                <div>
                    <p class="badge badge-info mb-3">{{ poster.genre.name }}</p>
                </div>
                <p> {{ poster.description }}</p>
                {% if user.is_authenticated %}
                    {% if wishlist %}
                        <div>
                            <a href="{% url 'edit_poster_wishlist' poster.id %}" class="btn btn-sm btn-outline-warning">Remove From Wishlist</a>
                        </div>
                    {% else %}
                        <div>
                            <a href="{% url 'edit_poster_wishlist' poster.id %}" class="btn btn-sm btn-info">Add To Wishlist</a>
                        </div>
                    {% endif %}
                {% else %}
                    <div>
                        <a href="{% url 'account_login' %}" class="btn btn-sm btn-info">Wishlist</a><br>
                        <small class="badge badge-info">login to use the wishlist!</small>
                    </div>
                {% endif %}
                {% include 'products/includes/add-poster-to-basket.html' %}
            </div>
        </div>
    </section>
    <section class="bought-together">
        <hr>
        <div class="row text-center d-flex justify-content-center align-items-center">
            <h6>You might also like ... </h6>
        </div>
        <hr>
        <div class="container explore d-flex justify-content-center">
            <div class="row">
                {% for poster in recommend|slice:3 %}
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="card product-card border-0 mt-2">
                        <a href="{% url 'poster_detail' poster.id %}">
                            <img src="{{ poster.image.url }}" class="card-img-top poster-card-image" alt="{{ poster.name }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ poster.name }}</h5>
                            <p class="badge badge-info"> {{ poster.genre.name }} </p>
                            <p><strong>£{{ poster.price }}</strong></p>
                            <a href="{% url 'poster_detail' poster.id %}" class="btn btn-outline-primary">View</a>
                            {% if user.is_authenticated %}
                                {% if user.is_superuser %}
                                    <a href="{% url 'update_poster' poster.id %}" class="btn btn-sm btn-outline-success">Admin: Update</a>
                                    <a href="{% url 'manage_products' %}" class="btn btn-sm btn-outline-danger">Admin: Delete</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}